---
import CallToAction from "../CallToAction/CallToAction.astro";
---

<section class="contact-me">
  <h2 class="contact-me__title">Interested in working together?</h2>
  <CallToAction
    href="mailto:rubenramar@gamil.com"
    text="Send Me a Message"
    icon="paper-plane-tilt"
    size="1.2em"
  />
</section>
