@use "../variables/colors";
@use "../variables/font-size";
@use "../variables/typography";
@use "../variables/background";
@use "../variables/gradients";
@use "../variables/shadows";
@use "../functions/functions";

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: colors.$gray-999;
  color: colors.$gray-200;
  font-family: typography.$font-body;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: colors.$link-color;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
  font-family: typography.$font-brand;
  font-weight: 600;
  color: colors.$gray-100;
}

h1 {
  font-size: font-size.$text-5xl;
}

h2 {
  font-size: font-size.$text-4xl;
}

h3 {
  font-size: font-size.$text-3xl;
}

h4 {
  font-size: font-size.$text-2xl;
}

h5 {
  font-size: font-size.$text-xl;
}

.container-column {
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  max-width: 1328px;
  margin-inline: auto;
  padding-inline: 40px;
}

.gap-2 {
  gap: 8px;
}

.gap-4 {
  gap: 16px;
}

.gap-8 {
  gap: 32px;
}

.gap-10 {
  gap: 40px;
}

.gap-15 {
  gap: 60px;
}

.gap-20 {
  gap: 80px;
}

.gap-30 {
  gap: 120px;
}

.gap-48 {
  gap: 192px;
}

@media (min-width: 800px) {
  .lg\:gap-2 {
    gap: 8px;
  }

  .lg\:gap-4 {
    gap: 16px;
  }

  .lg\:gap-8 {
    gap: 32px;
  }

  .lg\:gap-10 {
    gap: 40px;
  }

  .lg\:gap-15 {
    gap: 60px;
  }

  .lg\:gap-20 {
    gap: 80px;
  }

  .lg\:gap-30 {
    gap: 120px;
  }

  .lg\:gap-48 {
    gap: 192px;
  }
}

.with-background-image {
  position: relative;
}

.with-background-image::before {
  content: "";
  position: absolute;
  pointer-events: none;
  left: 50%;
  width: 100vw;
  aspect-ratio: calc(2.25 / background.$bg-scale);
  top: 0;
  transform: translateY(-75%) translateX(-50%);
  background: url("/images/backgrounds/noise.png") top center/220px repeat,
    background.$bg-image-subtle-2 center center / background.$bg-gradient-size
      no-repeat,
    colors.$gray-999;
  background-blend-mode: overlay, normal, normal, normal;
  mix-blend-mode: background.$bg-blend-mode;
  z-index: -1;
}

.with-background-image--variant::before {
  background: url("/images/backgrounds/noise.png") top center/220px repeat,
    background.$bg-image-subtle-1 center center / background.$bg-gradient-size
      no-repeat,
    colors.$gray-999;
}

.section-divider {
  background: gradients.$gradient-accent;
  height: 1.4px;
  border-radius: 50%;
  grid-column: 2/4;
  grid-column-end: 2;
  box-shadow: shadows.$shadow-lg;
}
