@use "../variables/colors";
@use "../variables/font-size";
@use "../variables/typography";
@use "../functions/functions";

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: colors.$gray-999;
  color: colors.$gray-200;
  font-family: typography.$font-body;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: colors.$link-color;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
  font-family: typography.$font-brand;
  font-weight: 600;
  color: colors.$gray-100;
}

h1 {
  font-size: font-size.$text-5xl;
}

h2 {
  font-size: font-size.$text-4xl;
}

h3 {
  font-size: font-size.$text-3xl;
}

h4 {
  font-size: font-size.$text-2xl;
}

h5 {
  font-size: font-size.$text-xl;
}

.container-column {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
