---
import Pill from "../Pill/Pill.astro";
import Icon from "../Icon/Icon.astro";
import type { CompetenciesStructure } from "@utils/content/types";

type Props = {
  roles: CompetenciesStructure[];
  dataAos?: "zoom-in-up" | "zoom-in";
};

const { roles, dataAos } = Astro.props;
---

<section class="roles">
  {
    roles.map(({ competency: role, icon }) => (
      <Pill dataAos={dataAos}>
        {icon && <Icon icon={icon} size="1.33em" />}
        {role}
      </Pill>
    ))
  }
</section>
