---
type Props = {
  dataAos?: "zoom-in-up" | "zoom-in";
};

const { dataAos = "zoom-in-up" } = Astro.props;
---

<div class="pill" data-aos={dataAos} data-aos-anchor-placement="top-bottom">
  <slot />
</div>
