$_placeholder-bg: var(--_placeholder-bg);
$bg-image-main: var(--bg-image-main);
$bg-image-main-curves: var(--bg-image-main-curves);
$bg-image-subtle-1: var(--bg-image-subtle-1);
$bg-image-subtle-2: var(--bg-image-subtle-2);
$bg-image-footer: var(--bg-image-footer);
$bg-svg-blend-mode: var(--bg-svg-blend-mode);
$bg-blend-mode: var(--bg-blend-mode);
$bg-image-aspect-ratio: var(--bg-image-aspect-ratio);
$bg-scale: var(--bg-scale);
$bg-aspect-ratio: var(--bg-aspect-ratio);
$bg-gradient-size: var(--bg-gradient-size);

$bg-image-subtle-1: var(--bg-image-subtle-1);
$bg-image-subtle-2: var(--bg-image-subtle-2);
$bg-image-footer: var(--bg-image-footer);
