$gray-0: var(--gray-0);
$gray-50: var(--gray-50);
$gray-100: var(--gray-100);
$gray-200: var(--gray-200);
$gray-300: var(--gray-300);
$gray-400: var(--gray-400);
$gray-500: var(--gray-500);
$gray-600: var(--gray-600);
$gray-700: var(--gray-700);
$gray-800: var(--gray-800);
$gray-900: var(--gray-900);
$gray-999_40: var(--gray-999_40);
$gray-999: var(--gray-999);
$gray-999_73: var(--gray-999_73);

$accent-light: var(--accent-light);
$accent-regular: var(--accent-regular);
$accent-dark: var(--accent-dark);
$accent-overlay: var(--accent-overlay);
$accent-subtle-overlay: var(--accent-subtle-overlay);
$accent-text-over: var(--accent-text-over);

$link-color: var(--link-color);
