@use "./colors";

$gradient-stop-1: var(--gradient-stop-1);
$gradient-stop-2: var(--gradient-stop-2);
$gradient-stop-3: var(--gradient-stop-3);
$gradient-subtle: var(--gradient-subtle);
$gradient-accent: var(--gradient-accent);
$gradient-accent-orange: var(--gradient-accent-orange);
$gradient-stroke: var(--gradient-stroke);
