---
import PageHeader from "@components/PageHeader/PageHeader.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Not Found" description="404 Error — this page was not found">
  <div class="page-not-found">
    <PageHeader title="Page Not Found" tagline="Not found" />
  </div>
</Layout>

<style>
  body {
    height: 100vh;
  }
</style>
