---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rubén Ramírez: Personal Site">
  <h1>Rubén Ramírez Martínez</h1>

  <style>
    html {
      background-color: #101010;
      color: #d0d0d0;
      padding: 32px;
      text-align: center;
    }
  </style>
</Layout>
