---
import type { IconPathsProps } from "@utils/icons/types";
import Icon from "../Icon/Icon.astro";

type Props = {
  href: string;
  size?: string;
  text?: string;
  icon?: keyof IconPathsProps;
};

const { href, icon, size, text } = Astro.props;
---

<div data-aos="zoom-in-up" data-aos-anchor-placement="top-bottom">
  <a class="call-to-action" target="_blank" href={href}>
    {icon && <Icon icon={icon} size={size} />}
    {text}
  </a>
</div>
