---
import Icon from "../Icon/Icon.astro";
import NavBar from "../NavBar/NavBar.astro";
import SocialMedia from "../SocialMedia/SocialMedia.astro";
import type {
  NavBarLinksStructure,
  SocialMediaStructure,
} from "../../utils/content/types";

type Props = {
  personalName: string;
  navBarLinks: NavBarLinksStructure[];
  socialsMedias: SocialMediaStructure[];
};

const { personalName, navBarLinks, socialsMedias } = Astro.props;
---

<header class="main-header">
  <section class="menu-header">
    <a href="/" class="site-title">
      <Icon icon="terminal-window" color="var(--accent-regular)" size="1.6em" />
      <span>{personalName}</span>
    </a>
    <button class="menu-button" aria-label="Menu" aria-expanded="false">
      <Icon icon="list" />
    </button>
  </section>
  <section class="menu-content">
    <NavBar navBarLinks={navBarLinks} />
    <article class="menu-footer">
      <SocialMedia socialsMedias={socialsMedias} />
    </article>
  </section>
</header>

<script>
  const btn = document.querySelector(".menu-button");

  const menuContent = document.querySelector(".menu-content");

  btn?.addEventListener("click", () => {
    menuContent?.classList.toggle("menu-content--expanded");
  });
</script>
