---
import Icon from "../Icon/Icon.astro";

type Props = {
  personalName: string;
};

const { personalName } = Astro.props;
---

<header class="main-header">
  <section class="menu-header">
    <a href="/" class="site-title">
      <Icon icon="terminal-window" color="var(--accent-regular)" size="1.6em" />
      <span>{personalName}</span>
    </a>
    <button class="menu-button" aria-label="Menu" aria-expanded="false">
      <Icon icon="list" />
    </button>
  </section>
</header>
