---
import Icon from "../Icon/Icon.astro";
import NavBar from "../NavBar/NavBar.astro";
import SocialMedia from "../SocialMedia/SocialMedia.astro";
import ThemeToggle from "../ThemeToggle/ThemeToggle.astro";
import type {
  NavBarLinksStructure,
  SocialMediaStructure,
} from "@utils/content/types";

type Props = {
  personalName: string;
  navBarLinks: NavBarLinksStructure[];
  socialsMedias: SocialMediaStructure[];
};

const { personalName, navBarLinks, socialsMedias } = Astro.props;
---

<header class="main-header">
  <section class="menu-header">
    <a href="/" class="site-title">
      <Icon
        icon="terminal-window"
        color="var(--accent-regular)"
        isGradient
        size="1.6em"
      />
      <span>{personalName}</span>
    </a>
    <button class="menu-button" aria-label="Menu" aria-expanded="false">
      <Icon icon="list" />
    </button>
  </section>
  <section class="menu-content">
    <NavBar navBarLinks={navBarLinks} />
    <article class="menu-footer">
      <SocialMedia socialsMedias={socialsMedias} />
      <ThemeToggle />
    </article>
  </section>
</header>
<script>
  const menuButton = document.querySelector(".menu-button");
  const mediaQueries = window.matchMedia("(min-width: 800px)");

  const toggleExpandMenu = (event: Event) => {
    const menuContent = document.querySelector(".menu-content");
    const classExpanded = "menu-content--expanded";

    const isExpanded =
      event.type === "click"
        ? menuContent?.classList.toggle(classExpanded)
        : menuContent?.classList.remove(classExpanded);

    if (menuButton) {
      menuButton.ariaExpanded =
        event.type === "click" ? String(isExpanded) : "false";
    }
  };

  menuButton?.addEventListener("click", toggleExpandMenu);
  mediaQueries.addEventListener("change", toggleExpandMenu);
</script>
