@use "../variables/colors";
@use "../variables/font-size";
@use "../variables/shadows";

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  border-top: 1px solid colors.$accent-subtle-overlay;
  border-bottom: 1px solid colors.$accent-subtle-overlay;
  padding: 80px 24px;
  background-color: colors.$gray-999_40;
  box-shadow: shadows.$shadow-sm;

  &__title {
    font-size: font-size.$text-xl;
    text-align: center;
    max-width: 17ch;
  }
}

@media (min-width: 800px) {
  .contact-me {
    padding: 120px 40px;
    flex-direction: row;
    justify-content: space-between;

    &__title {
      font-size: font-size.$text-3xl;
      text-align: left;
    }
  }
}
