@use "../variables/colors";
@use "../variables/font-size";
@use "../variables/animations";

.footer {
  display: flex;
  flex-direction: column;
  gap: 38px;
  margin-top: auto;
  padding: 40px;
  text-align: center;
  color: colors.$gray-400;
  font-size: font-size.$text-sm;
  border-top: 1px solid colors.$gray-800;

  &__copyright {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}

.socials {
  &__list {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
  }
}

.link {
  color: colors.$accent-dark;
  text-decoration: 1px solid underline transparent;
  text-underline-offset: 4px;
  transition: text-decoration-color animations.$theme-transition;
}

.link:hover {
  text-decoration-color: currentColor;
}

@media (min-width: 800px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
