@use "../variables/colors";
@use "../variables/background";

.app-container {
  min-height: 100%;
  isolation: isolate;
  background: url("/images/backgrounds/noise.png") top center/220px repeat,
    background.$bg-image-footer bottom center/background.$bg-gradient-size
      no-repeat,
    background.$bg-image-main-curves top center/background.$bg-gradient-size
      no-repeat,
    background.$bg-image-main top center/background.$bg-gradient-size no-repeat,
    colors.$gray-999;
  background-blend-mode: overlay, background.$bg-blend-mode,
    background.$bg-svg-blend-mode, normal, normal;
}

@media (forced-colors: active) {
  .app-container {
    background: none;
    background-blend-mode: none;
    --bg-gradient-size: none;
  }
}
