@use "../variables/typography";
@use "../variables/animations";
@use "../variables/colors";
@use "../variables/font-size";
@use "../variables/gradients";
@use "../variables/shadows";
@use "../functions/functions";

.main-header {
  position: relative;
  font-family: typography.$font-brand;
  font-weight: 500;
  margin-bottom: 56px;
}

.menu-header {
  position: relative;
  z-index: 14;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  gap: 8px;
}

.site-title {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1.1;
  color: colors.$gray-0;
}

.menu-button {
  position: relative;
  display: flex;
  border: 0;
  border-radius: 50%;
  padding: functions.pixelsToRem(8);
  font-size: functions.pixelsToRem(24);
  color: colors.$gray-300;
  background: radial-gradient(colors.$gray-900, colors.$gray-800 150%);
  box-shadow: shadows.$shadow-md;
}

.menu-button[aria-expanded="true"] {
  color: colors.$gray-0;
  background: linear-gradient(180deg, colors.$gray-600, transparent),
    radial-gradient(colors.$gray-900, colors.$gray-800 150%);
}

.menu-content {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: -380px;
}

.menu-content--expanded {
  top: 0px;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 15px 24px;
  background-color: colors.$gray-999;
  border-radius: 0 0 12px 12px;
  box-shadow: shadows.$shadow-md;
}

@media (prefers-reduced-motion: no-preference) {
  .menu-content {
    transition: all animations.$menu-transition;
  }
}

@media (min-width: 800px) {
  .menu-button {
    position: relative;
    display: none;
  }

  .main-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 40px;
    gap: 16px;
  }

  .menu-header {
    padding: 0;
    gap: 0;
  }

  .site-title {
    font-size: font-size.$text-lg;
  }

  .menu-content {
    display: contents;
  }

  .menu-footer {
    justify-self: flex-end;
    align-items: center;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .site-title {
    font-size: font-size.$text-sm;
  }
}
