@use "../variables/typography";
@use "../variables/colors";
@use "../variables/shadows";
@use "../functions/functions";

.main-header {
  position: relative;
  font-family: typography.$font-brand;
  font-weight: 500;
  margin-bottom: 56px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  gap: 8px;
}

.site-title {
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1.1;
  color: colors.$gray-0;
}

.menu-button {
  z-index: 1;
  position: relative;
  display: flex;
  border: 0;
  border-radius: 50%;
  padding: functions.pixelsToRem(8);
  font-size: functions.pixelsToRem(24);
  color: colors.$gray-300;
  background: radial-gradient(colors.$gray-900, colors.$gray-800 150%);
  box-shadow: shadows.$shadow-md;
}

.menu-content {
  position: absolute;
  left: 0;
  right: 0;
  top: -365px;
  transition: all 0.7s ease-in-out;
}

.menu-content--expanded {
  top: 0px;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  padding: 1.5rem 2rem 1.5rem 1.5rem;
  background-color: colors.$gray-999;
  border-radius: 0 0 0.75rem 0.75rem;
  box-shadow: shadows.$shadow-md;
}
