@use "../variables/font-size";
@use "../variables/colors";
@use "../variables/shadows";
@use "../variables/gradients";
@use "../variables/animations";
@use "../functions/functions";

.navbar {
  display: initial;
  width: initial;
  height: initial;
  line-height: initial;
  background-color: transparent;
  color: inherit;
  box-shadow: none;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: functions.pixelsToRem(18);
  padding: 30px 24px;
  padding-top: 90px;
  background: linear-gradient(colors.$gray-999_73, colors.$gray-999 48%);
  border-bottom: 1px solid colors.$accent-dark;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.item {
  &__link {
    position: relative;
    color: colors.$gray-300;
  }

  &__link--active {
    color: colors.$accent-dark;
  }
}

@media (min-width: 800px) {
  ul.nav-list {
    flex-direction: row;
    align-items: center;
    font-size: font-size.$text-sm;
    border-radius: 100px;
    gap: 4px;
    border: none;
    padding: 5px;
    background: radial-gradient(colors.$gray-900, colors.$gray-800 150%);
    box-shadow: shadows.$shadow-md;
  }

  .item {
    &__link {
      padding: 8px 16px;
      border-radius: functions.pixelsToRem(80);
      text-align: center;
      transition: color animations.$theme-transition,
        background-color animations.$theme-transition;

      &:hover,
      &:focus {
        color: colors.$gray-100;
        background-color: colors.$accent-subtle-overlay;
      }
    }

    &__link--active {
      color: colors.$accent-text-over;
      background-color: colors.$accent-regular;
    }

    &__line {
      display: none;
    }
  }
}

@media (forced-colors: active) {
  img {
    filter: grayscale(1);
  }

  .link.active {
    color: SelectedItem;
  }

  .nav-list {
    background-color: #fff;
  }
}
