@use "../variables/font-size";
@use "../variables/colors";
@use "../variables/animations";

.social-media {
  display: flex;
  gap: 30px;
  font-size: font-size.$icon-size;

  &__link {
    display: flex;
  }
}

.link {
  &__icon {
    display: flex;
    color: colors.$accent-dark;
    transition: color animations.$theme-transition;
  }

  &__icon:hover {
    color: colors.$accent-text-over;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .social-media {
    display: none;
  }
}
