---
import Icon from "../Icon/Icon.astro";
---

<div class="theme-toggle-container">
  <button class="theme-toggle">
    <span class={`light theme-toggle__icon`}>
      <Icon icon="sun" />
    </span>
    <span class={`dark theme-toggle__icon`}>
      <Icon icon="moon-stars" />
    </span>
  </button>
</div>
<script>
  import themeOptions from "@utils/themeOptions/themeOptions";

  const { lightButton, darkButton, applyThemeDark } = themeOptions;
  const themeToggleButton = document.querySelector(".theme-toggle");

  const setTheme = (isDark: boolean) => {
    const classListMethod = isDark ? "add" : "remove";

    document.documentElement.classList[classListMethod](applyThemeDark);
    themeToggleButton?.setAttribute("aria-pressed", isDark.toString());

    themeToggleButton?.setAttribute(
      "aria-label",
      isDark ? darkButton : lightButton
    );
  };

  const isThemeDark = () =>
    document.documentElement.classList.contains("theme-dark");

  themeToggleButton?.addEventListener("click", () => setTheme(!isThemeDark()));

  setTheme(isThemeDark());
</script>
