---
type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<header
  class="section-header container-column gap-2"
  data-aos="zoom-in-up"
  data-aos-anchor-placement="top-bottom"
>
  <h3
    data-aos="zoom-in-up"
    data-aos-anchor-placement="top-bottom"
    data-aos-delay="30"
    class="section-header__title"
  >
    {title}
  </h3>

  <p
    data-aos="zoom-in-up"
    data-aos-anchor-placement="top-bottom"
    data-aos-delay="50"
    class="section-header__description"
  >
    {description}
  </p>
</header>
